
.DS_Store

# later add config file
.idea/gamergator.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
node_modules/bcrypt/build/action_after_build.target.mk
node_modules/bcrypt/build/bcrypt_lib.target.mk
node_modules/bcrypt/build/binding.Makefile
node_modules/bcrypt/build/config.gypi
node_modules/bcrypt/build/gyp-mac-tool
node_modules/bcrypt/build/Makefile
node_modules/bcrypt/build/Release/.deps/Release/bcrypt_lib.node.d
node_modules/bcrypt/build/Release/.deps/Release/obj.target/action_after_build.stamp.d
node_modules/bcrypt/build/Release/.deps/Release/obj.target/bcrypt_lib/src/bcrypt.o.d
node_modules/bcrypt/build/Release/.deps/Release/obj.target/bcrypt_lib/src/bcrypt_node.o.d
node_modules/bcrypt/build/Release/.deps/Release/obj.target/bcrypt_lib/src/blowfish.o.d
node_modules/bcrypt/build/Release/.deps/Users/germandominguez/Documents/UF/curr./soft.?eng./gamegator-demo/node_modules/bcrypt/lib/binding/bcrypt_lib.node.d
node_modules/bcrypt/build/Release/bcrypt_lib.node
node_modules/bcrypt/build/Release/obj.target/action_after_build.stamp
node_modules/bcrypt/build/Release/obj.target/bcrypt_lib/src/bcrypt.o
node_modules/bcrypt/build/Release/obj.target/bcrypt_lib/src/bcrypt_node.o
node_modules/bcrypt/build/Release/obj.target/bcrypt_lib/src/blowfish.o
node_modules/bcrypt/lib/binding/bcrypt_lib.node
node_modules/bcrypt/package.json
