#tags{

   float: left;

   width: 20%;

   height: 500px; /*only for demonstration, should be removed */

   background: #A9A9A9;

   padding: 2px;

   font-size: 5px;

}



article {

    float: left;

    padding: 20px;

    width: 80%;

    background-color: #D3D3D3;

    height: 500px;  only for demonstration, /*should be removed */

}



/************************************************************* SEARCH BAR ****************************************************************/

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

  margin: 0;

  padding: 0;

  border: 0;

  font-size: 100%;

  font: inherit;

  vertical-align: baseline;

  outline: none;

  -webkit-font-smoothing: antialiased;

  -webkit-text-size-adjust: 100%;

  -ms-text-size-adjust: 100%;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

}

html { overflow-y: scroll; }

body {

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  font-size: 62.5%;

  line-height: 1;

  color: #414141;

  padding-bottom: 55px;

}



br { display: block; line-height: 1.6em; }



input, textarea {

  -webkit-font-smoothing: antialiased;

  -webkit-text-size-adjust: 100%;

  -ms-text-size-adjust: 100%;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  outline: none;

}



h1 {

  font-size: 3.0em;

  line-height: 1.55em;

  margin-bottom: 10px;

  color: #666;

}



p {

  font-size: 1.4em;

  line-height: 1.35em;

  color: #414141;

  margin-bottom: 15px;

}



a {

  color: #3f7fa3;

  text-decoration: none;

}

a:hover {

  text-decoration: underline;

}



/** page structure **/

#topbar {

  display: block;

  height: 80px;

  width: 100%;

  background: #FF4616;

}



#topnav {

}

#topnav ul {

  list-style: none;

  width: 100%;

  margin: 0 auto;

}

#topnav ul li {

  color: #fff;

  float: left;

  width: 20%;

  line-height: 100px;

  text-align: center;

  cursor: pointer;

  font-weight: 900;

  font-family: Arial;

  transition: 0.5s;

  position: relative;

  height: 25px;

}

#topnav ul li a {

  display: block;

  float: middle;

  line-height: 80px;

  margin-right: 8px;

  color: #FFF;

  text-decoration: none;

  -webkit-transition: all 0.2s linear;

  -moz-transition: all 0.2s linear;

  transition: all 0.2s linear;

}



#topnav ul li :hover {
  margin-bottom: 0px;
  background: #0021A5;

}



#topnav ul li a#searchtoggl {

  margin-right: 0;

}





/** hidden search field **/

#searchbar {

  display: none;

  float: left;

  width: 100%;

  height: 62px;

  border-top: 1px solid #d8d8d8;

  padding-left: 25px;

  padding-right: 10px;

  z-index: 9999;

  background: #fff;

  -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);

  -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);

  box-shadow: -1px 2px 2px rgba(0,0,0,0.2);

}



#s {

  display: block;

  width: 88%;

  border: 0;

  outline: none;

  padding: 0;

  height: 60px;

  line-height: 60px;

  font-size: 3.0em;

  font-weight: bold;

  color: #676767;

}



#searchsubmit {

  display: block;

  float: right;

  margin-top: 6px;

  background: none;

  color: #717171;

  border: 0;

  outline: none;

  cursor: pointer;

}



/** clearfix **/

.clearfix:after { content: ".";

display: block;

clear: both;

visibility: hidden;

line-height: 0;

height: 0;

}

.clearfix {

  display: inline-block;

}



html[xmlns] .clearfix {

  display: block;

}

* html .clearfix {

  height: 1%;

}



/******************************************************* Dropdown Button *******************************************************/

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #FF4616;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size:15px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    background: white;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #FFF;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #FFF;} 

/***************************** Tags Section ****************/
#tags{

   float: left;

   width: 20%;

   height: 500px; /*only for demonstration, should be removed */

   background: #A9A9A9;

   padding: 0px;

   font-size: 5px;

}

#tags ul {

  list-style: none;

  width: 100%;

  margin: 0 auto;

}

#tags ul li {

  color: #fff;

  float: left;

  width: 50%;

  text-align: center;

  cursor: pointer;

  font-weight: 900;

  font-family: Arial;

  font-size: 15px;

  transition: 0.5s;

  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;

}

#tags ul li a {
  display: block;
  float: middle;
  line-height: 20px;
  color: #FFF;
  text-decoration: none;
}



#tags li:hover {
  background: #FF4616;

}

 a:visited {
  background: #FFF;
}